.btn-rule {
  border: 2px solid var(--header-outline);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  background-color: var(--dark);
  color: var(--white);
  transition: all 0.3s;

  &:hover {
    background-color: var(--white);
    color: var(--dark);
    cursor: pointer;
  }
}
