.game-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 28rem;
}

.step-container {
}

.step-1 {
  position: relative;
  width: 100%;
  height: 100%;

  .triangle_image {
    pointer-events: none;
    user-select: none;
    width: 100%;
    padding: 2rem;
  }

  .button-choise {
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    &--paper {
      top: 0;
      left: 0;

      background-image: linear-gradient(
        to right,
        var(--paper-gradient-from),
        var(--paper-gradient-to)
      );
    }

    &--rock {
      top: 0;
      right: 0;

      background-image: linear-gradient(
        to right,
        var(--rock-gradient-from),
        var(--rock-gradient-to)
      );
    }

    &--scissors {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      background-image: linear-gradient(
        to right,
        var(--scissors-gradient-from),
        var(--scissors-gradient-to)
      );
    }

    &__icon {
      background-color: var(--white);
      border-radius: 50%;
      box-shadow: inset 0 0 5px var(--dark);
      overflow: hidden;
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__icon-img {
      width: 2.5rem;
    }
  }
}
